/* =========================================================
   MAIN — NORMAL PAGES
========================================================= */

.main{

    padding:140px 18px 70px;

    min-height:100vh;
}


/* =========================================================
   MAIN — AUTH PAGES
========================================================= */

.auth-page .main{

    padding:
        0 18px 70px;

    min-height:100vh;
}