/*=========================================================
  EMPTY STATE
=========================================================*/

.empty-state{

    padding:30px;

    text-align:center;

    color:#777;

}