/*=========================================================
  LIST
=========================================================*/

.wa-list{

    list-style:none;

    margin:0;

    padding:0;

    background:#fff;

    border-radius:14px;

    overflow:hidden;

    box-shadow:0 6px 18px rgba(0,0,0,.08);

}